@font-face {
    font-family: sqrd;
    src: url(./assets/sqrd.ttf);
}
@font-face {
    font-family: Lavirint;
    src: url(./assets/lavirint.ttf);
}

*{
    margin: 0px;
    cursor: url('./assets/cursor.png'), auto;
}
body{
    margin: 0px;
    background-color: black;
    user-select: none;
}

h1{
    font-family: Lavirint;
    color: #ffffff;
    font-size: 200px;
    mix-blend-mode: difference;
}

.container-logo{
    width: 100%;
    position: relative;
}
.logo{
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    letter-spacing: 0px;
}

.line{
    position: fixed;
    left: 146.5px;
    z-index: 3;
    background-color: #ffffff;
    width: 19px;
    height: 100vh;
}
.line:nth-child(8){
    position: fixed;
    left: 22px;
    z-index: 3;
    background-color: #ffffff;
    width: 19px;
    bottom: 0;
    height: 47vh;
}
.line:nth-child(9){
    position: fixed;
    left: 422px;
    z-index: 3;
    background-color: #ffffff;
    width: 19px;
    bottom: 0;
    height: 44vh;
}
.line:nth-child(10){
    position: fixed;
    left: 622px;
    z-index: 3;
    background-color: #ffffff;
    width: 19px;
    bottom: 0;
    height: 44vh;
}
.line:nth-child(11){
    position: fixed;
    left: 922px;
    z-index: 3;
    background-color: #ffffff;
    width: 18.7px;
    top: 0;
    height: 44vh;
}
.line:nth-child(12){
    position: fixed;
    left: 1097px;
    z-index: 3;
    background-color: #ffffff;
    width: 18.7px;
    bottom: 0;
    height: 44vh;
}
.line{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: lineup 2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 1.8s;
}

.logo h1{
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.logo h1:nth-child(4){
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    animation: color-drop 2s forwards;
    animation-delay: 3s;
}
.logo h1:nth-child(7):hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: magenta;
    filter: drop-shadow(20px -10px 0px yellow);
    color: cyan;
}
.logo h1:nth-child(2):hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: yellow;
    filter: drop-shadow(20px -10px 0px cyan);
    color: magenta;
}
.logo h1:nth-child(5):hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: cyan;
    filter: drop-shadow(20px -10px 0px magenta);
    color: yellow;
}


.logo{
    animation: spacing 1.4s cubic-bezier(.68,.54,.35,1.24);
}

.icon{
    color: #ffffff;
    font-family: sqrd;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    rotate: -90deg;
    position: absolute;
    margin-top: 85px;
    margin-left: -60px;
}
.tag{
    color: #ffffff;
    font-family: sqrd;
    right: 0;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    rotate: -90deg;
    position: absolute;
    margin-bottom: 85px;
    margin-right: -60px;
}
.tagi:nth-child(1){
    color: cyan;
}
.tagi:nth-child(2){
    color: magenta;
}
.tagi:nth-child(3){
    color: yellow;
}

.sqr{
    width: 15px;
    height: 15px;
    position: fixed;
    background-color: cyan;
    margin-top: 7px;
    margin-left: -35px;
    border-radius: 15px;
}
.sqr:nth-child(1){
    background-color: magenta;
    margin-left: -65px;
}
.sqr:nth-child(2){
    background-color: yellow;
    margin-left: -95px;
}

.icon, .tag{
    opacity: 0%;
    animation: opac 1s ease-in forwards;
    animation-delay: 3s;
}

@keyframes lineup {
	0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	50%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
}
@keyframes spacing {
	0%{
        letter-spacing: 1000px;
	}
    65%{
        filter: drop-shadow(20px -10px 0px rgba(255, 255, 0, 0));
	}
    85%{
        filter: drop-shadow(20px -10px 0px cyan);
	}
    100%{
        letter-spacing: 0px;
        filter: drop-shadow(20px -10px 0px rgba(255, 255, 0, 0));
    }
}
@keyframes color-drop {
	0%{
	}
    100%{
        background-color: magenta;
        /* filter: drop-shadow(0px 10px 0px magenta); */
        filter: drop-shadow(-10px -10px 0px yellow);
        color: cyan;
    }
}
@keyframes opac {
	0%{
        opacity: 0%;
	}
    100%{
        opacity: 100%;
    }
}
